<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973752481668-qh6akanknjt0q0oq3v2l5mnf4p3urk7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973752481668-qh6akanknjt0q0oq3v2l5mnf4p3urk7c</string>
	<key>API_KEY</key>
	<string>AIzaSyD1k_J4xTunQeDRJqDB-rdKORedhgyuYDE</string>
	<key>GCM_SENDER_ID</key>
	<string>973752481668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedi.pt</string>
	<key>PROJECT_ID</key>
	<string>pt-app-2ecaf</string>
	<key>STORAGE_BUCKET</key>
	<string>pt-app-2ecaf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973752481668:ios:af63cfae3a2a635366cfd1</string>
</dict>
</plist>